#aboutMe {
    margin-top: 8%;
    font-family: 'Crimson Text', serif;
}

#aboutMe > h1 {
    font-size: 5em;
    text-align: center;
}

.aboutSection {
    font-weight: 700;
    font-size: 1.2em;
}

#myself {
    height: 392px;
    width: 261px;
}

/* #picOfMe {
    float: left;
} */

#resumeIcon {
    height: 30px;
    width: 30px;
    /* background-color: white; */
}

#skillSet > h1  {
    font-size: 5em;
    text-align: center;
}


/* ICON SECTION */
.images {
    display: flex;
    justify-content: space-between; 
}

/* #html5 {
    height: 80px;
    width: 80px;
} */

/* #css3 {
    height: 80px;
    width: 70px;
} */

/* #js {
    height: 80px;
    width: 80px;
} */

/* #fireBase {
    height: 80px;
    width: 80px;
} */

/* #gitHubIcon {
    height: 80px;
    width: 80px;
} */

#nodejs{
    height: 80px;
    width: 164px;
}

img {
    height: 80px;
    width: 80px;
}