/* IMPORTING CSS FILES */
@import "about.css";
@import "body.css";
@import "contact.css";
@import "footer.css";
@import "header.css";
@import "navbar.css";
@import "projects.css";
@import "variables.css";

/* FONT CHEAT SHEET */
/* 
font-family: 'Cinzel', serif;
font-family: 'Crimson Text', serif;
*/


body {
    background-color: var(--teal);
    font-family: 'Cinzel', serif; 
}
